<header class="header">
  <div class="header-title-wrapper">
    <h3 class="title">АВТОРОЗБІРКА</h3>
    <p class="subtitle">Volksvagen Passat B7, B8, VW Jetta</p>
  </div>

  <nav class="navigation">
    <!-- <ng-container *ngFor="let navItem of navigationItems; let navItemIndex = index">
      <button mat-button [matMenuTriggerFor]="navItemIndex">{{ navItem.name }}</button>
      <ng-container *ngIf="navItem?.subMenu">
        <mat-menu>
          <ng-container *ngFor="let subItem of navItem.subMenu; let subItemIndex = index">
            <button mat-menu-item [matMenuTriggerFor]="subItemIndex">
              {{ subItem?.name }}
            </button>

            <ng-container *ngIf="subItem?.subMenu">
              <mat-menu #subItemIndex="matMenu">
                <button
                  mat-menu-item
                  *ngFor="let subSubItem of subItem?.subMenu; let subSubItemIndex = index"
                  [matMenuTriggerFor]="subSubItemIndex"
                >
                  {{ subSubItem }}
                </button>
              </mat-menu>
            </ng-container>
          </ng-container>
        </mat-menu>
      </ng-container>
    </ng-container> -->
  </nav>
</header>
