.header {
  padding: 0 30px;
  width: 100%;
  background-color: #2f2f30;
  position: fixed;
  height: 100px;
  margin-bottom: 80px;
  box-shadow: 0 10px 19px -8px black;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-title-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    h3 {
      font-weight: 800;
      font-size: 36px;
      color: #f2bd1e;
    }

    p {
      font-style: italic;
      font-size: 18px;
    }
  }

  .navigation {
    margin-right: 30px;
    ::ng-deep {
      .mat-button {
        color: white;
      }
    }
  }
}
