<header class="header">
  <div class="header-title-wrapper">
    <h3 class="title">АВТОРОЗБІРКА</h3>
    <p class="subtitle">Volkswagen Passat B7, B8, VW Jetta</p>
  </div>

  <div class="navigation">
    <button mat-button [matMenuTriggerFor]="aboveMenu">Каталог</button>
    <mat-menu #aboveMenu="matMenu" yPosition="below">
      <ng-container *ngFor="let catalogSubItem of catalogSubItems">
        <button mat-menu-item [disabled]="catalogSubItem?.disabled">
          {{ catalogSubItem.displayName }}
        </button>
      </ng-container>
    </mat-menu>
    <button mat-button>Авто з США</button>
    <button mat-button>Послуги</button>
    <button mat-button>Блог</button>
    <button mat-button>Про нас</button>
    <button mat-button>FAQ</button>
    <button mat-button (click)="scrollToFooter()">Контакти</button>
  </div>
</header>
