<footer>
  <div class="social-networks">
    <a href="https://www.facebook.com/" target="_blank">
      <img src="../../../../assets/icons/facebook.svg" alt="FB" />
    </a>
    <a href="https://www.instagram.com/" target="_blank">
      <img src="../../../../assets/icons/instagram.svg" alt="INST" />
    </a>
    <a href="https://www.olx.ua/" target="_blank">
      <img src="../../../../assets/icons/olx.svg" alt="OLX" style="width: 30px; height: 25px;" />
    </a>
  </div>
  <section class="contact-info">
    <p>Address</p>
    <p>Phone number</p>
    <p>Email address</p>
  </section>
  <section class="about-info">
    <h3>Про нас</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque deleniti laudantium dolore eius
      possimus ut, distinctio, animi ea, quam in ipsa nobis rem magnam? Expedita fugit vero
      dignissimos voluptatibus reprehenderit.
    </p>
  </section>
</footer>
